<header>
  <div class="mini-navbar-wrapper">
    <div class="logo-wrapper">
      <p class="logo"><span class="logo">Job Offers</span></p>
    </div>
    <div class="mini-navbar" *ngIf="!isLogged; else logged_navbar">
      <ul>
        <li>
          <a routerLink="/auth/login">Login</a>
        </li>
        <li>
          <a routerLink="/auth/register">Register</a>
        </li>
      </ul>
    </div>
    <ng-template #logged_navbar>

      <div class="mini-navbar">
        <div>Hello, {{ loggedUser.name}}</div>
        <ul>
          <li>
            <a routerLink="offers">Home</a>
          </li>
          <li>
            <a routerLink="profile">Profile</a>
          </li>
          <li *ngIf="loggedUser.role === 'organization'">
            <a routerLink="/offers/dashboard">My Offers</a>
          </li>
          <li *ngIf="loggedUser.role === 'user'">
            <a routerLink="/offers/dashboard">Applied Offers</a>
          </li>
          <li>
            <a (click)="onLogout()" routerLink="login">Logout</a>
          </li>
        </ul>
      </div>
    </ng-template>

  </div>
</header>
