<article>
  <div>
    <h3>{{ offer.title }}</h3>
  </div>

  <p>{{ offer.category }}</p>
  <p> {{ offer.type }}</p>
  <p>{{ offer.description }}</p>
  <p> Likes: {{offer.userWhoLiked.length}}</p>

  <div *ngIf="userRole === 'user' && currentRoute !== '/offers/dashboard'">
    <p class="success" *ngIf="appliedUser || hasApplied">Already applied!</p>
    <button class="apply-view-btn" (click)="onApply()" [disabled]="appliedUser || hasApplied">Apply</button>

    <ng-container *ngIf="!userWhoLikedId">
      <button class="like-edit-btn" *ngIf="!isLiked" (click)="onLike()">Like</button>
    </ng-container>
    <button class="danger-btn" *ngIf="isLiked || userWhoLikedId" (click)="onUnlike()">Unlike</button>

  </div>
  <div *ngIf="userRole === 'organization' && currentRoute === '/offers/dashboard'">
    <button class="apply-view-btn">View Applies</button>
    <button class="like-edit-btn" [routerLink]="['/offers', 'edit', offer.id]">Edit</button>
    <button class="danger-btn" (click)="onDelete()">Delete</button>
  </div>
</article>
