.title-row {
  display: flex;
}

h3, p {
  margin-left: 10px;
}

.apply-view-btn {
  margin-left: 10px;
  background-color: rgb(0, 200, 255);
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.like-edit-btn {
  background-color: lightgreen;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.danger-btn {
  background-color: lightcoral;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.apply-btn, .like-btn {
  width: 5em;
}

.success {
  color: green;
}