<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1>Join today</h1>
  <div class="form-container">
    <input class="text-input"
           type="text"
           placeholder="Name"
           formControlName="name">
  </div>
  <div class="form-container">
    <input class="text-input"
           type="email"
           placeholder="Email"
           formControlName="email">
  </div>
  <div class="form-container">
    <input class="text-input"
           type="password"
           placeholder="Password"
           formControlName="password">
  </div>
  <div class="form-container">
    <input type="checkbox" id="orgCheckbox" formControlName="checkbox" [(ngModel)]="checkboxChecked">
    <label for="orgCheckbox">Register As An Organization</label>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
  <div>
    <p>Aleady a member? <a routerLink="/login">Sign in</a></p> 
  </div>
</form>
