<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1 *ngIf="!offer.id">Create An Offer</h1>
  <h1 *ngIf="offer.id">Edit Offer</h1>
  <div class="form-container">
    <input class="text-input"
           type="text"
           placeholder="Title"
           formControlName="title">

    <small class="error" *ngIf="titleFormControl.touched && titleFormControl.invalid && titleFormControl.errors?.['required']">
      This field is required
    </small>

  </div>
  <div class="form-container">
    <input class="text-input"
           type="text"
           placeholder="Category"
           formControlName="category">

    <small class="error" *ngIf="categoryFormControl.touched && categoryFormControl.invalid && categoryFormControl.errors?.['required']">
      This field is required
    </small>

  </div>
  <div class="form-container">
    <input list="types" 
           class="text-input"
           placeholder="Type"
           formControlName="type">
    <datalist id="types">
      <option value="Part-Time"></option>
      <option value="Full-Time"></option>
      <option value="Remote"></option>
    </datalist>

    <small class="error" *ngIf="typeFormControl.touched && typeFormControl.invalid && typeFormControl.errors?.['required']">
      This field is required
    </small>

  </div>
  <div class="form-container">
    <textarea class="text-input"
           type="text"
           placeholder="Description"
           formControlName="description"></textarea>

    <small class="error" *ngIf="descriptionFormControl.touched && descriptionFormControl.invalid && descriptionFormControl.errors?.['required']">
      This field is required
    </small>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>

