<h1 *ngIf="loggedUser.role === 'user' && offers.length === 0">
  You haven't applied for any offers yet!
</h1>
<h1 *ngIf="loggedUser.role === 'organization' && offers.length === 0">
  You haven't created any offers yet!
</h1>

<h2 *ngIf="loggedUser.role === 'user' && offers?.length">
  Offers You Applied To
</h2>

<button routerLink="/offers/create" *ngIf="loggedUser.role === 'organization'">
  <span>+</span> Create New
</button>
<section>
  <app-offer-item *ngFor="let offer of offers"
                  [offer]="offer"
                  [currentRoute]="currentRoute"
                  [userRole]="loggedUser.role"
                  (deletedOfferEmitter)="onDelete($event)"
  ></app-offer-item>
</section>
